<%- include("partials/header.ejs") %>
<div class="essay">
    <p><i>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita alias, natus a saepe et suscipit, vel facilis officiis doloribus perspiciatis quas placeat nam tenetur repudiandae quidem fugit ipsa consequatur. Asperiores.</i></p>
</div>
    <%- include("partials/footer.ejs") %>