<%- include("partials/header.ejs") %>
<div class = "index"><h1>fastest car in the world</h1>
    <p><i>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam quasi dolore animi natus cumque est unde enim expedita recusandae nesciunt?</i>
    </p></div> 

<%- include("partials/footer.ejs") %>